body,
html {
    height: 100%;
}


.hero-image {
   
    background-image:url('media/edwardlear.jpg');
    height: 30%;
 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.navbar {
    background-color: #284177;
    overflow: hidden;
}

.navbar a {
    display: block;
    text-align: left;
    color: #ede8e4;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

.navbar a:hover {
    background-color: #ede8e4;
    color: black;
  }

  .navbar a.current {
    background-color: #006bbd;
    color: white;
  }
/* colour palette to use:
dark blue: #284177
med blue: #006bbd
light blue: #83ceec
white: #ede8e4
brownish: #c2afa8
*/